/*---------------
    Indicator
---------------*/

/*-----------------
    Temperature
-----------------*/


#temperature {
	background-color: @temperature;
}

/*------------
    Memory
------------*/


#memory {
	background-color: @memory;
}

/*---------
    CPU
---------*/


#cpu {
	background-color: @cpu;
}

/*-----------------
    Distro icon
-----------------*/



/*--------------------
    Idle inhibitor
--------------------*/

#idle_inhibitor {
	background-color: @shy;
}

/*----------
    Time
----------*/

#clock.time {
	padding-right: 6px;
	background-color: @time;
}


/*----------
    Date
----------*/

#clock.date {
	padding-left: 6px;
	background-color: @date;
}

/*-----------------
    System tray
-----------------*/

#custom-network {
	background-color: @tray;;
	padding: 0 6px 0 4px;
}
#custom-bluetooth {
	background-color: @tray;;
	padding: 0 5px;
}
